body {
    background-color: white;
}

fieldset{
/*    color: blue;*/
}

legend{
    color: blue;
}

input{
/*    border-bottom-color: pink;*/
/*    border-color: red;*/
}

.submit{
    color: black;
}

.pokemon{
/*    background-color: gray;*/
    text-align: center;
}

.bulbasaurTitle {
    color: green;
}

.bulbasaur {
    padding-left: 50px;
}

.charmanderTitle {
    color: red;
}

.charmander {
    padding-left: 47px;
}

.squritleTitle {
    color: blue;
}

.squritle {
    padding-left: 75px;
}






@media (max-width: 500px) {
    body{
        background-color: white;
        color: red; /*Only changes footer*/
    }

    fieldset {
        /*color: blue;*/ /*All lettering within the fieldset*/
    }

    .bulbasaurTitle {
        color: green;   
    }

    .bulbasaur {
        padding-left: 50px;
    }

    .charmanderTitle {
        color: red;
    }

    .charmander {
        padding-left: 47px;
    }

    .squritleTitle {
        color: blue;
    }

    .squritle {
        padding-left: 75px;
    }

    .pocketmonsters{
        background-color: white;
    }



  /*  label{
        padding-top: 100px;
    }*/

    
}

